
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
 
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
    background-color: rgb(12, 6, 100);
    display: flex;
    justify-content: center;
    }

.nav ul li a {
  display: block;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 16px;
}
.nav ul li a:hover {
  background-color: #5ac8e7;
} 
body {
  justify-self: center;
  background-color: rgb(214, 238, 244);
  color: rgb(12, 6, 100);
  font-family: "Bitcount Single", sans-serif;
  padding-top: 400px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(5, 5, 120);
  font-size: 30px;
  font-weight: 800;
  font-style: oblique;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #5ac8e7;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(7, 7, 190);
  text-align: center;
  
}

section {
  margin-bottom: 2em;
  padding: 15px;
  scroll-margin-top: 370px;
}

.experience {
  list-style: none;
  padding-inline-start: 0;
  
}
.experience li {
  background-color: #98def1;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16.5px;
  border-radius: 5px;
}

.experience li span {
  display: flex;
  justify-content: space-between;
}

#About,
#Experience,
#Skills,
#Project,
#Connect{
  margin-bottom: 5px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Connect ul {
  color: blue;
  padding: 0;
  margin-bottom: 5px;
 width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 15px;
}
