header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  justify-self: center;
  background-color: rgb(214, 238, 244);
  color: rgb(12, 6, 100);
  font-family: "Bitcount Single", sans-serif;
}

h1 {font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(5, 5, 120);
  font-size: 30px;
  font-weight: 800;
  font-style: oblique;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(7, 7, 190);
}

section {
  margin-bottom: 2em;
  padding: 15px;
}

.experience {
    list-style: none;
    padding-inline-start: 0;
    
}
.experience li {
    background-color: beige;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16.5px;
}
#About, #Experience {
    margin-bottom: 5px;
    width: 50%;
}
#Connect li {
    color: blue;
    display:block;
    padding: 5px;
    margin-bottom: 5px;
    list-style-type: disc;
}